"Dota 2 Bounty Configuration"
{
  "uri"           "http://127.0.0.1:8000/gsi"
  "timeout"       "5.0"
  "buffer"        "0.1"
  "throttle"      "0.5"
  "heartbeat"     "30.0"
  "data"
  {
    "provider"        "1"
    "map"             "1"
    "player"          "1"
    "hero"            "1"
    "allplayers_id"   "1"
    "allplayers_name" "1"
    "allplayers_hero" "1"
    "allplayers_team" "1"
    "abilities"       "0"
    "items"           "0"
  }
}
